*{
    margin: 0;
    padding: 0;
}

h1{
    color: #753192;
    margin-top: 7vw;
}

#App{
    display: flex;
    flex-direction: column;
    min-height: 87vh;
    justify-content: space-around;
    align-items: center;
}
#loading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sem-perfis{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#texto-acabou{
    color: #4aa397;
    text-align: center;
    margin-top: 2vw;
}

#logo-loading{
    width: 40vw;
}

#container-botoes{
    padding: 2vw;
    display: flex;
    width: 85vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vw;
}

#card-perfil {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    width: 87vw;
    height: 120vw;
    position: relative;
    overflow: hidden;
    margin-top: 3vw;
}

#textousuario {
    padding: 0 2vw 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 35vw;
    z-index: 3;
    width: 87vw;
    background: linear-gradient(179.6deg, rgba(0, 0, 0, 0) 1.06%, rgba(0, 0, 0, 0.38) 30.12%, rgba(0, 0, 0, 0.83) 98.94%);
    ;
}

#icone-coracao {
    font-size: 17vw;
    color: #753192;
}

#botao-coracao {
    background-color: #4aa397;
    width: 25vw;
    height: 25vw;
}

#icone-x {
    font-size: 17vw;
    color: #753192;
    
}

#botao-x {
    background-color: #4aa397;
    width: 25vw;
    height: 25vw;
}

.coracao-loading {
    width: 55vw;
}

.foto-match {
    width: 17vw;
    position: center;
}

.perfis-match {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 6vw;
    height: 14vw;
    width: 90vw;
    cursor: pointer;
    transition: transform .2s;
}

.perfis-match:hover {
    transform: scale(1.04)
}

.container-botao{
    height: 30vw;
    width: 30vw;
    border: 1px solid black;
}

.foto-perfil{
    width: 40vw;
    position: absolute;
    top: 0%;
}

