* {
  border: none;
  margin: none;
  font-family: 'French Script MT', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 20vh;
  background: radial-gradient(214.39% 214.39% at 48.28% 126.89%, #6E1485 0%, rgba(223, 7, 33, 0.06) 100%), linear-gradient(94.97deg, #0C27B0 0.08%, #00FFD1 100%);
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 2%;
}

h1 {
  font-family: 'Ink Free', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #E6FFFD;
  font-size: 5rem;
  padding-left: 2vw;
  text-align: start;
  margin: 0;
}

#tela-toda{
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

#tarefas {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 60vh;
  padding: 0.5vw;
  width: 98%;
}

#container-dia{
  border: 1px solid #331566;
  background-color: #331566;

}

.titulo-dia {
  font-size: 3.5vw;
  border-bottom: 1px solid #331566;
  font-family: Monotype Corsiva;
  font-style: italic;
  font-weight: normal;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #5D4685;

}